.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.btn span {
  font-family: "Bungee", sans-serif !important;
}

.btn-primary {
  border: 3px solid white;
  background-image: var(--gradient-001);
  border-radius: 10px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-primary:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-secondary {
  border: 3px solid white;
  background-image: var(--gradient-red);
  border-radius: 10px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-secondary:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


.btn-tertiary {
  border: 3px solid white;
  background: var(--soft-core-blue);
  border-radius: 13px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-tertiary>i {
  color: white !important
}

.btn-tertiary:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-primary *,
.btn-secondary * {
  color: white;
}

.btn-disabled {
  background-color: var(--future-flow);
  background-image: none;
  border-color: var(--expert-vision) !important;
}

.btn-disabled * {
  color: var(--expert-vision) !important;
}

.btn-large {
  padding: 35px;
  font-size: 4em;
}

.btn-medium {
  padding: 12px;
  font-size: 1em;
}

.btn-small {
  padding: 8px;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}