.grid-container {
    display: flex;
    flex-direction: column;
    width: 356px;
    padding: 1rem;
    margin: auto;
  }
  
  .row-of-4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    margin-top: -10px;
  }
  
  .row-of-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-top: -10px;
  }
  
  .align {
    width: 356px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    font-family: 'Arial Black', sans-serif;
  }
  
  .circle {
    width: 50px;
    height: 50px;
  }
  
  .svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }
  
  .background {
    fill: none;
    stroke: #444;
    stroke-width: 3;
  }
  
  .progress {
    fill: none;
    stroke: #00ff99;
    stroke-width: 3;
    stroke-linecap: round;
  }
  
  .percentage {
    fill: white;
    font-size: 0.5em;
    text-anchor: middle;
  }
  
  .title {
    font-size: 24px;
  }
  
  .time {
    font-size: 24px;
  }
  

  .match{
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 50px 0;

  }