.logo {
	width: 200px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.desc {
	text-align: left;
	font-family: "Inter", Helvetica, sans-serif, sans-serif !important;
	font-weight: 550;
	white-space: normal;
}

.strong-blue {
	color: #0583f2;
	display: inline;
	white-space: nowrap;
	font-weight: 600;
}

.titleCredits {
	font-weight: 600;
	margin-top: 20px;
	text-align: center;
}

.displayCredits {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-top: 20px;
}


.credit-left, .credit-right {
	border-radius: 8px;
	display: flex;
	gap: 10px;

}

.credit-left {
	align-self: flex-start;
	padding: 10px;
	padding-left: 0;
}

.credit-right {
	align-self: flex-end;
	padding: 10px;
	padding-right: 0;
}

.credit-left .text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
}

.credit-right .text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
}

.name {
	font-weight: 700;
	font-size: 16px;
}

.position {
	font-size: 14px;
	color: gray;
	font-weight: 600;
}

.hex {
	display: flex;
	justify-content: center;
	align-items: center;
}
