.content {
	padding: 30px 0;
	display: flex;
	height: -webkit-fill-available;
	height: -moz-available;
	height: 100%;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.content .logo-soft:nth-child(1) {
	width: 180px;
}

.content .logo-game {
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
}

.buttons-right {
	position: absolute;
	right: 0;
}

.buttons-right button {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.buttons-left button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.buttons-left, .buttons-right {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.buttons-left {
	position: absolute;
	left: 0;
}
