.content {
  padding: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  overflow-x: scroll;
}


.columns {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}