.content {
  padding: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}


.columns {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

@media (min-width: 2000px) {
  .content {
    padding: 6vw;
  }
}