.content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

.ticket-icon {
  width: 30px;
}

.tickets {
  display: flex;
  gap: 10px;
}

.content span:nth-child(1) {
  color: var(--text-gray);
  font-size: 1.3rem;
}

.tickets span:nth-child(2) {
  color: var(--expert-horizon);
	font-size: 1.6rem;
  
}

.tickets span:nth-child(3) {
  font-size: 1.6rem;
  color: white;
}