@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--expert-horizon: #0075ff;
	--expert-vision: #101c40;
	--green-balance: #009182;
	--soft-evergreen: #00e883;
	--expert-inspire: #d262ff;
	--deep-connection: #58016a;
	--text-gray: #b2b5cc;
	--gold: #ffb43a;
	--silver: #515151;
	--bronze: #a4682c;
	--gradient-001: linear-gradient(to top, #0075ff 0%, #00c8ff 100%);
}

* {
	font-family: "Bungee", sans-serif;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* background-color: #022280; */
	background-color: #800202;
}
