@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--expert-horizon: #0075ff;
	--future-flow: #005BC7;
	--soft-core-blue: #002080;
	--expert-vision: #101c40;
	--green-balance: #009182;
	--future-flow: #005BC7;
	--soft-evergreen: #00e883;
	--expert-inspire: #d262ff;
	--deep-connection: #58016a;
	--soft-white: #F9FAFA;
	--red: #C72223;
	--yellow: #EEAF00;
	--green: #78AF1F;
	--text-gray: #b2b5cc;
	--gold: #ffb43a;
	--silver: #515151;
	--bronze: #a4682c;
	--gray-bg: #323232;
	--gray: #4F525A;
  --gray-gradient: linear-gradient(to bottom, #545C65 0%, #262626 100%);
  --gray-inner: #323232;
  --green-gradient: linear-gradient(to bottom, #00E883 0%, #101C40 100%);
  --green-inner: #009182;
  --gold-gradient: linear-gradient(to bottom, #FFD900 0%, #DD8100 100%);
  --gold-inner: #EEAF00;
  --active-gradient: linear-gradient(to bottom, #4A90E2 0%, #1C3A6D 100%);
  --active-inner: #357ABD;
	--gradient-001: linear-gradient(to top, #0075ff 0%, #00c8ff 100%);
	--gradient-001-dark: linear-gradient(to top, #0063d4 0%, #0098c2 100%);
	--gradient-red: linear-gradient(to top, #FF7D7E 0%, #B40048 100%);
}

* {
	font-family: "Bungee", sans-serif;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li {
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--soft-core-blue);
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

input {
	font-size: 15px;
	font-family: "Inter" !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}