.card {
	background-color: white;
	border-radius: 5px;
	height: min-content;
	border-left: 6px solid;
	box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.25);
	padding: 10px;
	position: relative;
	color: #161616;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.locked {
	position: absolute;
	background-color: rgb(0 0 0 / 36%);
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	left: 0;
	bottom: 0;
	height: 100%;
}

.locked i {
	font-size: 3em;
	color: #514e4e;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(5px);
	}

	75% {
		transform: translateX(-5px);
	}

	100% {
		transform: translateX(0);
	}
}

.shake {
	animation: shake 0.4s ease;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	padding: 10px 0;
	width: 100%;
}

.easy {
	border-color: var(--green);
}

.medium {
	border-color: var(--yellow);
}

.hard {
	border-color: var(--red);
}

.card p,
.tag {
	font-family: "inter", sans-serif;
}

.tag {
	background-color: #eeaf00;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 3px 6px;
}

.bug {
	background-color: var(--red);
}

.task {
	background-color: #194ebf;
}

.refactor {
	background-color: var(--yellow);
}

.card .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content h2 {
	font-size: 20px;
}

.content p {
	margin: 10px 0;
	font-size: 16px;
	font-weight: 500;
}

.profile {
	width: 45px;
	height: 45px;
	z-index: 3;
	aspect-ratio: 1;
	position: relative;
	background-color: var(--expert-vision);
	clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
}

.profile:before {
	background: url("../../../src/assets/jorgebenitez.png");
	background-size: cover;
	content: "";
	display: block;
	position: relative;
	top: 2px;
	left: 2px;
	height: 41px;
	width: 41px;
	clip-path: inherit;
}

.profile.big {
	width: 100px;
	height: 100px;
}

.profile.big:before {
	top: 5px;
	left: 5px;
	height: 91px;
	width: 91px;
}

.player-image {
	position: absolute;
	bottom: -7px;
}

.player-profile {
	/* 	position: fixed;
	z-index: 10;
	top: 25px; */
}

/* 
.name-tickets {
	margin-left: 58px;
} */

.player-profile .name,
.player-profile .tickets {
	border: 3px solid var(--expert-vision);
	background-color: var(--expert-horizon);
	color: white;
	/* 	padding: 6px 30px 6px 47px; */
	padding: 10px;
	border-radius: 14px;
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	width: fit-content;
	display: flex;
}


.player-profile .name {
	border-bottom-left-radius: 0;
}

.player-profile .tickets {
	width: fit-content;
	padding-top: 2vh !important;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.player-profile .tickets img {
	width: 15px;
	margin-right: 7px;
}

.column {
	display: flex;
	width: 100%;
}

.column .title {
	font-family: "inter", sans-serif;
	color: white;
	font-weight: 600;
	border-right: 3px solid white;
	writing-mode: sideways-lr;
	margin-right: 14px;
	padding-right: 7px;
	font-size: 18px;
}


@media (min-width: 1100px) {
	.column .title {
		padding-right: 1vw;
		border-right: 1vw solid white;
	}

	.name,
	.tickets {
		font-size: 2.3em !important;
		border: 22px solid var(--expert-vision) !important;
		padding: 2vw !important;
		border-radius: 4vw !important;
	}

	/* .tickets {
		padding-top: 2vh !important;
	} */

	.tickets img {
		width: 125px !important;
		margin-right: 2vw !important;
	}

	.player-profile .name {
		width: 100%;
		border-bottom-left-radius: 0 !important;
	}

	.player-profile .tickets {
		width: fit-content;
		border-top: 0 !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.title {
		font-size: 2em !important;
	}

	.card {
		border-radius: 1vw;
		border-left: 1.5vw solid;
		padding: 3.5vw;
	}

	.easy {
		border-color: var(--green);
	}

	.medium {
		border-color: var(--yellow);
	}

	.hard {
		border-color: var(--red);
	}

	.cards {
		padding: 2vw;
	}

	.tag {
		font-size: 1.4em;
		padding: 1vw;
		border-radius: 1vw;
	}

	.card .content {
		gap: 1vh;
	}
}