.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12vh;
}

.container .logo {
  width: 180px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.content span {
  color: white;
}

.message {
  font-family: "inter";
  font-size: 14px;
  text-align: center;
}

@media (min-width: 2000px) {
  .container .logo {
    width: 60%;
  }
}